@page "/estadisticas"
@inject HttpClient Http
@inject IJSRuntime JS

@attribute [Authorize]

@if (ventas == null)
{
    <div class="d-flex justify-content-between">
        <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <h2><b>Estadísticas</b></h2>
    </div>
}
else
{
    <div class="d-flex justify-content-end">
        <h2><b>Estadísticas</b></h2>
    </div>

    <div class="card mb-2">
        <a href="/lista-pedidos" style="color:inherit; text-decoration:none">
            <div class="card-body">
                <div class="m-2">
                    @if (pedidospendientes > 0)
                    {
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Pedidos pendientes</h5>
                            <div style="height:2rem; width:2rem; border-radius:1rem;
                            background-color:orangered" class="d-flex justify-content-center">
                                <div class="mt-1 mb-1">
                                    <h5 style="color:white">@pedidospendientes</h5>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h5 class="card-title">No hay pedidos pendientes</h5>
                    }
                </div>
            </div>
        </a>
    </div>
}

<div class="card mb-2">
    <div id="ventas"></div>
</div>

<div class="card mb-2">
    <div id="ej_chart"></div>
</div>

@code {
    private int pedidospendientes { get; set; }
    private decimal[] ejercicio { get; set; }
    private decimal[] ventasAño { get; set; }
    private decimal[] compras { get; set; }

    public List<Venta> ventas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ventas = await Http.GetFromJsonAsync<List<Venta>>($"api/ventas");

        ejercicio = await Http.GetFromJsonAsync<decimal[]>($"api/estadisticas/ejercicio");
        compras = await Http.GetFromJsonAsync<decimal[]>($"api/estadisticas/compras");
        ventasAño = await Http.GetFromJsonAsync<decimal[]>($"api/estadisticas/ventas");
        pedidospendientes = await Http.GetFromJsonAsync<int>("api/estadisticas/pendientes");

        MostrarEstadisticas();
    }

    void MostrarEstadisticas()
    {
        JS.InvokeVoidAsync("chart_line", ejercicio, compras);
        JS.InvokeVoidAsync("chart_column", ventasAño);
    }
}