@page "/"

<div id="index">
    <h2><b>Bienvenido/a!</b></h2>
    <AuthorizeView>
        <NotAuthorized>
            <h3>Inicie sesión con sus credenciales</h3>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
}