@page "/"

<div id="index">
    <h2><b>Le damos la bienvenida</b></h2>

    <AuthorizeView>
        <Authorized>
            <DashboardPowerBi/>
        </Authorized>              
        <NotAuthorized>
            <h3>Inicie sesión con sus datos</h3>
        </NotAuthorized>
    </AuthorizeView>
</div>


@code {
}