@*@page "/crear-articulo"*@
@page "/crearcategoria"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@*@attribute [Authorize]*@

<div class="d-flex justify-content-between mb-3">
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
    <div>
        <h3><b>Nueva categoría</b></h3>
    </div>
</div>

<FormularioCategorias TextBotonSubmit="Guardar categoría" OnValidSubmit="@Crear" CateProducto="@Categoria" />

@code {
    CateProducto Categoria = new CateProducto();

    async Task Crear()
    {
        var respuesta = await Http.PostAsJsonAsync("/api/cate", Categoria);

        if (respuesta.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/indexcategoria"); //  cambiar a indexArticulo
            await JS.InvokeVoidAsync("simple", "¡Éxito!", "Categoría creado", "success");
        }
        else
        {
            //await JS.InvokeVoidAsync("simple", "Error",
            //        "No se pudo crear este producto", "error");
        }
    }

    void Volver()
    {
        NavigationManager.NavigateTo("/indexcategoria"); //  cambiar a index
    }
}