@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <style>
            #usuario {
                color: lightseagreen;
                margin-right: 1rem;
                border-radius: 0.2rem;
            }

                #usuario:hover {
                    text-decoration: none;
                    color: white;
                }

                #usuario:active {
                    color: gold;
                }
        </style>
        <a href="authentication/profile" id="usuario">
            @context.User.Identity.Name
        </a>
        <button class="btn btn-sm btn-outline-danger" @onclick="BeginSignOut"><i class="oi oi-account-logout"></i>Salir</button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-sm btn-outline-primary" href="authentication/register">Registrarse</a>
        <a class="btn btn-sm btn-outline-primary" href="authentication/login">Iniciar sesión</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
