@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <div id="main" class="main">
        <div class="top-row px-3 auth">
            <LoginDisplay />
        </div>
        <div class="content px-3">
            @Body
        </div>
    </div>
</div>
