/* /Pages/Articulos/ListaArticulo.razor.rz.scp.css */
:root[b-64rsms2ebu] {
  --errorColor: #f44336;
  --successColor: #009688;
  --warningColor: #ff9800;
  --primaryColor: #2196f3;
  --excedido: #9c27b0;
}

.card[b-64rsms2ebu] {
  /*background-color: lightblue;*/
  background-color: #1e1f21;
  border-style: none;
  border-radius: 10px;
  text-align: left;
  color: #fff;
  box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
  transition: all .3s;
  margin: 5px 0;
}

.card:hover[b-64rsms2ebu] {
  box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
  opacity: 0.95;
  transform: scale(1.01);
  border:none;
}

.chip[b-64rsms2ebu] {
  margin: 0;
  color: #fff;
  text-align: center;
  border-radius: 9999px;
  font-size: 15px;
  width: 70%;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chip:hover[b-64rsms2ebu] {
  transition: all 0.3s;
  opacity: 0.8;
}
.chip-low[b-64rsms2ebu] {
  background-color: #f44336;
}
.chip-normal[b-64rsms2ebu] {
  background-color: #009688;
}
.chip-ex[b-64rsms2ebu] {
  background-color: #9c27b0;
}
/* /Pages/Articulos/ListaBajas.razor.rz.scp.css */
:root[b-1623ldqbmc] {
    --errorColor: #f44336;
    --successColor: #009688;
    --warningColor: #ff9800;
    --primaryColor: #2196f3;
    --excedido: #9c27b0;
}

.card[b-1623ldqbmc] {
    /*background-color: lightblue;*/
    background-color: #1e1f21;
    border-style: none;
    border-radius: 10px;
    text-align: left;
    color: #fff;
    box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
    transition: all .3s;
    margin: 5px 0;
}

    .card:hover[b-1623ldqbmc] {
        box-shadow: 0 0 12px rgba(33, 33, 33, 0.2);
        opacity: 0.95;
        transform: scale(1.01);
    }

.chip[b-1623ldqbmc] {
    margin: 0;
    color: #fff;
    text-align: center;
    border-radius: 9999px;
    font-size: 15px;
    width: 70%;
    padding: 0.25rem 0.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .chip:hover[b-1623ldqbmc] {
        transition: all 0.3s;
        opacity: 0.8;
    }

.chip-low[b-1623ldqbmc] {
    background-color: #f44336;
}

.chip-normal[b-1623ldqbmc] {
    background-color: #009688;
}

.chip-ex[b-1623ldqbmc] {
    background-color: #9c27b0;
}
/* /Pages/Clientes/ListaCliente.razor.rz.scp.css */
.card[b-phqimgj4wb] {
    background-color: lightblue;
    border-style: groove;
    border-radius: 8px;
    text-align: left;
}

    .card:hover[b-phqimgj4wb] {
        box-shadow: 0 0 12px rgba(33,33,33,.2);
        opacity: 0.95;
    }
/* /Pages/Compras/FormCompra.razor.rz.scp.css */
.card[b-n60ftgqozc] {
    box-shadow: 0 0 12px rgba(33,33,33,.2);
}
/* /Pages/Ventas/FormVenta.razor.rz.scp.css */
.card[b-t2xx0n22ky] {
  /*box-shadow: 0 0 12px rgba(33,33,33,.2);*/
  box-shadow: 22px 3px 39px 1px rgba(0, 0, 0, 0.51);
}
/* /Pages/Ventas/VerVenta.razor.rz.scp.css */
.card[b-np7uj7vsnh] {
    box-shadow: 0 0 12px rgba(33,33,33,.2);
    border-radius: 10px;
}

@media print {
    /*aqui deben de circle los estilos param imprimir las factura*/
    .card[b-np7uj7vsnh]{
        font-family: Consolas;
    }
    button[b-np7uj7vsnh] {
        display:none
    }
    #miboton[b-np7uj7vsnh]{
        background-color:red;
    }

}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-x13t0nzs1e] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-x13t0nzs1e] {
    flex: 1;
}

.sidebar[b-x13t0nzs1e] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-x13t0nzs1e] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-x13t0nzs1e]  a, .top-row .btn-link[b-x13t0nzs1e] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-x13t0nzs1e] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-x13t0nzs1e] {
        display: none;
    }

    .top-row.auth[b-x13t0nzs1e] {
        justify-content: space-between;
    }

    .top-row a[b-x13t0nzs1e], .top-row .btn-link[b-x13t0nzs1e] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-x13t0nzs1e] {
        flex-direction: row;
    }

    .sidebar[b-x13t0nzs1e] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-x13t0nzs1e] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-x13t0nzs1e] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-5nw50s1tmt] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-5nw50s1tmt] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-5nw50s1tmt] {
    font-size: 1.1rem;
}

.oi[b-5nw50s1tmt] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-5nw50s1tmt] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-5nw50s1tmt] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-5nw50s1tmt] {
        padding-bottom: 1rem;
    }

    .nav-item[b-5nw50s1tmt]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-5nw50s1tmt]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-5nw50s1tmt]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-5nw50s1tmt] {
        display: none;
    }

    .collapse[b-5nw50s1tmt] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
