@page "/ver-compra/{idcompra:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@attribute [Authorize(Roles = "admin")]

<div class="d-flex justify-content-between mb-3">
    <div>
        <div class="btn-group">
            <button @onclick="@Volver" class="btn btn-sm btn-secondary">
                <i class="oi oi-arrow-circle-left"></i> Volver al listado
            </button>
           @* <button @onclick="@(() => BorrarCompra(idcompra))" class="btn btn-sm btn-danger">
                <i class="oi oi-trash"></i> Eliminar compra
            </button>*@
        </div>
    </div>
    <div>
        <h3><b>Ver compra</b></h3>
    </div>
</div>

<FormCompra textSubmit=" Guardar cambios" compra="compra" ocultabtn="true" articulos="articulos"
            ListaProveedores="ListaProveedores"></FormCompra>

@code {
    public Compra compra = new Compra();
    public List<Articulo> articulos { get; set; } = new List<Articulo>();
    public List<Proveedores> ListaProveedores { get; set; } = new List<Proveedores>();
    [Parameter] public int idcompra { get; set; } //parametro id compra

    protected override async Task OnInitializedAsync()
    {
        compra = await Http.GetFromJsonAsync<Compra>($"api/compras/{idcompra}"); //traigo id del parametro
        articulos = await Http.GetFromJsonAsync<List<Articulo>>("api/articulos"); //muestro todos los articulos
        ListaProveedores = await Http.GetFromJsonAsync<List<Proveedores>>("api/proveedores"); //muestro todos los articulos
    }

    async Task BorrarCompra(int idcompra)
    {
        var confirmacion = await JS.InvokeAsync<bool>("confirmar", "¿Eliminar compra?",
            $"Pago N° {compra.Id}. Fecha: {compra.Fecha}. Proveedor: {compra.ProveedoresId}", "warning");
        if (confirmacion)
        {
            var respuesta = await Http.DeleteAsync($"/api/compras/{idcompra}");

            if (respuesta.IsSuccessStatusCode)
            {
                NavigationManager.NavigateTo("/lista-compras");
                await JS.InvokeVoidAsync("simple", "¡Exito!", "Compra eliminada", "success");
            }
            else
            {
                await JS.InvokeVoidAsync("simple", "Error", "No se pudo eliminar compra", "error");
            }
        }
    }

    void Volver()
    {
        NavigationManager.NavigateTo("/lista-compras");
    }
}