@inject HttpClient Http
@inject NavigationManager NavigationManager
@using System.Text.Json

<EditForm Model="@Tallas" OnValidSubmit="@OnValidSubmit">
    <div class="form-field mt-2 mb-2">
        <div class="row">
            <div class="col-6">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Nombre</label>
                    <div class="col">
                        <div class="input-group">
                            <MudTextField @bind-Value="@Tallas.Nombre" Label="Nombre del sistema" Variant="Variant.Outlined" oninput="this.value=this.value.toUpperCase()"
                                          Margin="Margin.Dense"></MudTextField>
                        </div>
                        <ValidationMessage For="@(() => Tallas.Nombre)" />
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-block btn-success">
            <i class="oi oi-check "></i>
            <text style="color:white"></text>
        </button>
    </div>
    <DataAnnotationsValidator />
</EditForm>

@code {

    [Parameter] public Tallas Tallas { get; set; } = new Tallas();

    [Parameter] public string TextBotonSubmit { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}